<!DOCTYPE html>
<html>

<head>
    <title>Basic Functions</title>
</head>

<body>
    <header>
        <h1 style="text-align: center;">Basic Functions</h1>
    </header>
    <main style="width: 400px; margin: auto;">
        <form style="margin-bottom: 20px;">
            <fieldset style="padding: 10px;">
                <legend>Insert Movie</legend>
                <label style="display:inline-block; width:100px;">Title:</label>
                <input type="text" name="title" required><br>

                <label style="display:inline-block; width:100px;">Genre:</label>
                <input type="text" name="genre" required><br>

                <label style="display:inline-block; width:100px;">Actor:</label>
                <input type="text" name="actor"><br>

                <label style="display:inline-block; width:100px;">Director:</label>
                <input type="text" name="director"><br>

                <input type="submit" value="Insert Movie">
            </fieldset>
        </form>
        <form style="margin-bottom: 20px;">
            <fieldset style="padding: 10px;">
                <legend>Update Movie</legend>
                <label style="display:inline-block; width:100px;">Title:</label>
                <input type="text" name="title"><br>

                <label style="display:inline-block; width:100px;">Genre:</label>
                <input type="text" name="genre"><br>

                <label style="display:inline-block; width:100px;">Actor:</label>
                <input type="text" name="actor"><br>

                <label style="display:inline-block; width:100px;">Director:</label>
                <input type="text" name="director"><br>

                <input type="submit" value="Update Movie">
            </fieldset>
        </form>
        <form style="margin-bottom: 20px;">
            <fieldset style="padding: 10px;">
                <legend>Remove Movie</legend>
                <label style="display:inline-block; width:100px;">Title:</label>
                <input type="text" name="title"><br>

                <label style="display:inline-block; width:100px;">Genre:</label>
                <input type="text" name="genre"><br>

                <label style="display:inline-block; width:100px;">Actor:</label>
                <input type="text" name="actor"><br>

                <label style="display:inline-block; width:100px;">Director:</label>
                <input type="text" name="director"><br>

                <input type="submit" value="Remove Movie">
            </fieldset>
        </form>
        <form style="margin-bottom: 20px;">
            <fieldset style="padding: 10px;">
                <legend>Search/Filter Movie</legend>
                <label style="display:inline-block; width:100px;">Title:</label>
                <input type="text" name="title"><br>

                <label style="display:inline-block; width:100px;">Genre:</label>
                <input type="text" name="genre"><br>

                <label style="display:inline-block; width:100px;">Actor:</label>
                <input type="text" name="actor"><br>

                <label style="display:inline-block; width:100px;">Director:</label>
                <input type="text" name="director"><br>

                <input type="submit" value="Search">
            </fieldset>
        </form>

    </main>
</body>

</html>
