<!DOCTYPE html>
<html>
    <head>
        <title>Box Office Predictor</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body>
        <div class = "container">
            <nav class="navbar navbar-expand-lg" style="background-color:rgba(203, 205, 207, 0.6);">
                <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/search">Search Records</a>
                        <a class="nav-link active" aria-current="page" href="/update">Update Records</a>
                        <a class="nav-link active" aria-current="page" href="/AwardsPredictor">Awards Predictor</a>
                        <a class="nav-link active" aria-current="page" href="/">Homepage</a>
                        <a class="nav-link active" aria-current="page" href="/login">Log in</a>
                    </div>
                </div>
                </div>
            </nav>
        </div>
    </body>
