<!DOCTYPE html>
<html>
    <head>
        <title>Movie Budget Predictor</title>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <style>
        img{
            display: block;
            margin: 0 auto;
            padding: 50px 60px 30px 60px;
        }
        hr {
            border: none;
            border-top: 3px solid black;
        }
    </style>
    <body>
        <div class = "container">
            <nav class="navbar navbar-expand-lg" style="background-color:rgba(203, 205, 207, 0.6);">
                <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/search">Search Records</a>
                        <a class="nav-link active" aria-current="page" href="/update">Update Records</a>
                        <a class="nav-link active" aria-current="page" href="/BoxOfficePredictor">Box Office Predictor</a>
                        <a class="nav-link active" aria-current="page" href="/AwardsPredictor">Awards Predictor</a>
                        <ul class="navbar-nav ms-auto">
                            {% if username %}
                                <li class="nav-item">
                                    <span class="nav-link text-dark">
                                        Hello, <strong>{{ username }}</strong>
                                    </span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Log out</a>
                                </li>
                            {% else %}
                                <a class="nav-link active" aria-current="page" href="/login">Log in</a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                </div>
            </nav>
            <img src="../static/frontpage_pic.jpg" height="450" width="750"/>
            <h1 style="text-align: center; font-size: 55px;">Movie Statistics Predictor</h1>
            <h5 style="text-align: center;">Search for, update and analyze film records.</h5>
            <hr>
            <h2>How to Use</h2>
            <p> 
                To use the basic functions, click on the update records tab in the navigation bar, then find the form with the
                action you would like to perform. If you would like to insert a new movie, fill out the insert movie form. If 
                you would like to update a movie, fill out the update movie form. If you would like to remove a movie, fill
                out the remove movie form. You must fill in the required fields in order for the movie to be inserted, 
                updated, or removed.
            </p>
        </div>
    </body>
</html>