<!DOCTYPE html>
<html>

<head>
    <title>Search Movies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<style>
</style>
<body>
    <div class = "container">
            <nav class="navbar navbar-expand-lg" style="background-color:rgba(203, 205, 207, 0.6);">
                <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/update">Update Records</a>
                        <a class="nav-link active" aria-current="page" href="/BoxOfficePredictor">Box Office Predictor</a>
                        <a class="nav-link active" aria-current="page" href="/AwardsPredictor">Awards Predictor</a>
                        <a class="nav-link active" aria-current="page" href="/">Homepage</a>
                        <a class="nav-link active" aria-current="page" href="/login">Log in</a>
                    </div>
                </div>
                </div>
            </nav>
        </div>
    <header>
        <h1 style="text-align: center;">Search Movies</h1>
    </header>
    <main style="width: 400px; margin: auto;">
        <form action="/search-results" method="POST" style="margin-bottom: 20px;">
            <fieldset style="padding: 10px;">
                <legend>Search/Filter Movie</legend>
                <label style="display:inline-block; width:100px;">Title:</label>
                <input type="text" name="title"><br>

                <label style="display:inline-block; width:100px;">Genre:</label>
                <input type="text" name="genre"><br>

                <label style="display:inline-block; width:100px;">Actor:</label>
                <input type="text" name="actor"><br>

                <label style="display:inline-block; width:100px;">Director:</label>
                <input type="text" name="director"><br>

                <input type="submit" value="Search">
            </fieldset>
        </form>

        {% if results %}
        <h3 style="margin-top: 30px;">Search Results:</h3>
        <table border="1" class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Actors</th>
                    <th>Directors</th>
                </tr>
            </thead>
            <tbody>
                {% for row in results %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                     <td>{{ row[2] if row[2] else 'No Actors Found' }}</td>
                    <td>{{ row[3] if row[3] else 'No Directors Found' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif results is not none %}
        <p>No results found.</p>
    {% endif %}

    </main>
</body>

</html>

