<!DOCTYPE html>
<html>

<head>
    <title>Update Movies</title>
</head>

<body>
    <header>
        <h1 style="text-align: center;">Update Movies</h1>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div 
        style="margin: 10px auto; width: 400px; padding: 10px; border-radius: 5px;
               color: white; text-align: center;
               background-color: {% if category == 'error' %} #dc3545 {% elif category == 'success' %}#28a745{% else %}#007bff{% endif %};">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
    <main style="width: 400px; margin: auto;">
        <form action = "/insert-movie" method="POST" style="margin-bottom: 20px;">
            <fieldset style="padding: 10px;">
                <legend>Insert Movie</legend>
                <label style="display:inline-block; width:100px;">Title:</label>
                <input type="text" name="title" required><br>

                <label style="display:inline-block; width:100px;">Genre:</label>
                <input type="text" name="genre" required><br>

                <label style="display:inline-block; width:100px;">Actor:</label>
                <input type="text" name="actor"><br>

                <label style="display:inline-block; width:100px;">Director:</label>
                <input type="text" name="director"><br>

                <input type="submit" value="Insert Movie">
            </fieldset>
        </form>
        <form action="/update-movie" method="POST" style="margin-bottom: 20px;">
            <fieldset style="padding: 10px;">
                <legend>Update Movie</legend>
                <label style="display:inline-block; width:100px;">Title:</label>
                <input type="text" name="title"><br>

                <label style="display:inline-block; width:100px;">Genre:</label>
                <input type="text" name="genre"><br>

                <label style="display:inline-block; width:100px;">Actor:</label>
                <input type="text" name="actor"><br>

                <label style="display:inline-block; width:100px;">Director:</label>
                <input type="text" name="director"><br>

                <input type="submit" value="Update Movie">
            </fieldset>
        </form>
        <form action="/remove-movie" method="POST" style="margin-bottom: 20px;">
            <fieldset style="padding: 10px;">
                <legend>Remove Movie</legend>
                <label style="display:inline-block; width:100px;">Title:</label>
                <input type="text" name="title" required><br>

                <label style="display:inline-block; width:100px;">Genre:</label>
                <input type="text" name="genre" required><br>

                <input type="submit" value="Remove Movie">
            </fieldset>
        </form>
    </main>
</body>

</html>
